
.container {
    height: 110px;
    position: absolute;
    z-index: 3;
    background-color: none;
    width: 100%;
    .flexContainer {
        height: 100%;
        width: 100%;
        display: flex;
        margin: 0 auto;
        .imageContainer {
        margin-left: 10%;
        display: flex;
        align-items: flex-end;
        img:hover {
            cursor: pointer;
        }
        }
    } 
}

@media only screen and (min-width: 1440px){
    .flexContainer {
        max-width: 1440px;
    }
}

@media only screen and (max-width: 900px) {

}