@use 'variables' as V;

.container {
    background-color: V.$codGray;
    height: 240px;
    background-image: url(../public/assets/homepage/ready-bg-desktop.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    .flexContainer {
        height: 80%;
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        h2 {
            font-size: 40px;
            color: white;
        }
        a {
            color: white;
            border: 1px solid white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 245px;
            height: 64px;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 2px;
            margin-left: 2rem;
        }
        a:hover {
            cursor: pointer;
            color: black;
            background-color: white;
        }
    }
}

@media only screen and (min-width: 1440px){
    .container {
        background-image: url(../public/assets/homepage/ready-bg-desktop@2x.jpg);
        background-size: cover;
        max-width: 1440px;
        margin: 0 auto;
        .flexContainer {
        max-width: 1440px;
        margin: 0 auto;
    }
    }
}

@media only screen and (max-width: 900px) {
    .container {
        background-image: url(../public/assets/homepage/ready-bg-tablet.jpg);
        background-size: cover;
        height: 272px;
        .flexContainer {
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 100%;
            h2 {
                margin-bottom: -2rem;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .container {
        background-image: url(../public/assets/homepage/ready-bg-mobile.jpg);
        background-size: cover;
        height: 328px;
        .flexContainer {
            width: 100%;
            h2 {
                font-size: 32px;
                margin-bottom: -5rem;
            }
        }
    }
}

